<div class="header-container">
    <div class="header-col">
        <div class="game-logo">2048</div>
    </div>
    <div class="header-col">
        <div class="score-container">
            <span>SCORE</span>
            <span class="number-color">{{ score }}</span>
        </div>
        <button class="button-header">MENU</button>
    </div>
    <div class="header-col">
        <div class="score-container">
            <span>BEST</span>
            <span class="number-color">{{ best }}</span>
        </div>
        <button class="button-header">LEADERBOARD</button>
    </div>
</div>
